.About{
    text-align: center;
}
.Alogo {
    background-image: url(../../image/logo.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.Dark{
    background-image: url(../../image/dark.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Add{
    background-image: url(../../image/add.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.log{
    background-image: url(../../image/log.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Market{
    background-image: url(../../image/Market.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Apply{
    background-image: url(../../image/Apply.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Scroll{
    background-image: url(../../image/Scroll.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Message{
    background-image: url(../../image/Message.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}

