.MarketContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .MaddCard {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  