.upload{
    text-align: center;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 20px 10px;
    height: 150px;
}
.upload input{

}

.upload button{
    width:99%;
    margin-top:10px;
    background-color: #007bff;
    border-radius: 15px;
  }

