*{
    margin: 0;
    padding: 0;
    
}
.search-icon,.HLogin,.HSignup{
    background-color: transparent;
    border: 0px;
    color: white;
    margin: 15px;
    text-decoration: none;
}
.logo{
    background-image: url(../../image/logo.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
  .Avatar{
    background-image: url(../../image/avatar.png);
  }